@font-face {
    font-family: 'Font Awesome 5 Brands';
    font-style: normal;
    font-weight: 400;
    font-display: block;
    src: url("../webfonts/fa-brands-400.eot");
    src: url("../webfonts/fa-brands-400.eot?#iefix") format("embedded-opentype"), url("../webfonts/fa-brands-400.woff2") format("woff2"), url("../webfonts/fa-brands-400.woff") format("woff"), url("../webfonts/fa-brands-400.ttf") format("truetype"), url("../webfonts/fa-brands-400.svg#fontawesome") format("svg"); 
}

* {
    font-family: "Font Awesome 5 Brands", -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

@media (prefers-color-scheme: dark) {
    html, body {
        background-color: rgb(20, 20, 20) !important;
    }

    .content {
        color:white !important;
    }

    .inside_overlay {
        background-color: rgba(66, 96, 110, 0) !important;
    }



    a {
        color: white !important;
    }

    a:visited {
        color: white !important;
    }

    a:hover {
        color: rgb(131, 174, 255) !important;
    }
}

body {
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
    display: grid;
}

span {
    white-space:pre;
}

.small {
    white-space:nowrap;
    display:inline;
    text-align:center;
}

#title {
    font-size: 2em;
    color: deeppink;
    margin: 1em auto;
}

#description {
    max-width: 20em;
    height: fit-content;
    margin: auto;
    font-size: 1em;
}

.pfp {
    width: 5em;
    height: 5em;
    float: left;
    cursor:grab;
}

#links {
    margin: auto;
    width: min-content;
}

button {
    border-width: 2px;
    border-style: solid;
    border-color:deeppink;
    border-radius: 8px;
    background-color: rgba(0,0,0,0);
    font-size: 1.2em;
    padding: 0.5em 1.5em;
    display: flex;
    margin: 0.5em auto;
    width: min-content;
    text-align: center;
    transition-duration: 150ms;
    transition-timing-function: cubic-bezier(0.445, 0.05, 0.55, 0.95);
    transition-property: all;
}

button:hover {
    background-color: rgb(255, 151, 206);
}

a {
    text-overflow: clip;
    color:black;
}

a:visited {
    color: black;
}

a:hover {
    color: rgb(21, 27, 39);
}

.overlay {
    display:flex;
    pointer-events: none;
    float:left;
    position: relative;
    left:-102%;
    top:0%;
    width: 0px;
    height: 0px;
    opacity: 0;
    transition-duration: 100ms;
    transition-timing-function: cubic-bezier(0.445, 0.05, 0.55, 0.95);
}

.inside_overlay {
    width: fit-content;
    height: fit-content;
    min-height: 1.2em;
    padding: 0;
    margin: 0;
    display: inline-block;
    background-color: rgba(151, 222, 255, 0);
    font-size: 1.2em;
}

button:focus .overlay {
    opacity: 1;
    pointer-events: all;
}

button:focus .under_overlay {
    opacity: 0;
    pointer-events: none;
}

.overlay:hover {
    opacity: 1;
    pointer-events: all;
}

.under_overlay  {
    opacity: 1;
    transition-duration: 100ms;
    transition-timing-function: cubic-bezier(0.445, 0.05, 0.55, 0.95);
}

.small:focus .overlay {
    opacity: 1;
    pointer-events: all;
}

.tg {
    color:rgb(0, 119, 255);
    border-color:rgb(0, 119, 255);
}

.tg:hover {
    background-color: rgba(0, 119, 255, 0.25);
}

.tg:focus {
    background-color: rgba(0, 119, 255, 0.25);
}

.furmap {
    color:rgb(255, 72, 0);
    border-color:rgb(255, 72, 0);
}

.furmap:hover {
    background-color: rgba(255, 72, 0, 0.25);
}

.git {
    color: rgb(33, 133, 208);
    border-color: rgb(33, 133, 208);
}

.git:hover {
    background-color: rgba(33, 133, 208, 0.25);
}